---
import Layout from '../layouts/Layout.astro';
// import { Button } from '@kreativeclub/ui';
import Card from './../components/Card'
import { css } from '../../styled-system/css';
---

<main>
	<div class={css({ fontSize: "2xl", fontWeight: 'bold' })}>Hello !</div>
	<Card />
	<!-- <Button client:load label="hello"/> -->
</main>
