---
import Layout from '../layouts/Layout.astro';
import MyButton from '../components/MyButton'
import { css } from '../../styled-system/css';
---

<main>
	<div class={css({ fontSize: "2xl", fontWeight: 'bold' })}>Hello !</div>
	<MyButton />
	<!-- <Button client:load label="hello"/> -->
</main>
